<h1>My Food List</h1>
<a href="{% url 'food-create' %}">Add Food</a>

<table>
    <tr>
        <th>Item</th>
        <th>Calories</th>
    </tr>
    {% for food in foods %}
    <tr>
        <td>{{food.title}}</td>
        <td>{{food.calories}}</td>
        <td><a href = "{% url 'food' food.id %}">View</a></td>
        <td><a href = "{% url 'food-update' food.id %}">Edit</a></td>
        <td><a href = "{% url 'food-delete' food.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %} 
</table>